.btn-submit {
    letter-spacing: 2px;
    padding: 5px;
    margin-top: 0;
    text-transform: none;
}

.end_of_article {

    margin: 0 auto;
    margin-top: 5px;
}

.article_comment  {
    margin-top: 10px;
}

.cevapla {
    cursor: pointer;
}