<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mert Özgür Akdeniz kişisel blog">
    <meta name="author" content="Mert Özgür Akdeniz">
    <title>Yapım Aşamasında | {{ settings.site_name }}</title>
    {% load staticfiles %}
    <link href="{% static "blog/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "blog/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "blog/css/main.css" %}" rel="stylesheet">
    <link href="{% static "blog/css/responsive.css" %}" rel="stylesheet">
    <link href="{% static "blog/css/style.css" %}" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="{% static "blog/js/html5shiv.js" %}"></script>
        <script src="{% static "blog/js/respond.min.js" %}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static "blog/images/ico/favicon.ico" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "blog/images/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "blog/images/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "blog/images/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "blog/images/ico/apple-touch-icon-57-precomposed.png" %}">
</head><!--/head-->

<body>
    <div class="logo-image">
       <a href="{% url 'index' %}"><img class="img-responsive" src="{% static "blog/images/logo2.png" %}" alt=""> </a>
    </div>
     <section id="coming-soon">
         <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="text-center coming-content">
                        <h1>Yapım Aşamasında</h1>
                        <h1>{{ sayi }}</h1>
                        <p>Sistem mimarisini ve tasarımı yeniliyorum. Yakında, hiç olmadığı kadar hızlı bir sistem ve tasarım ile
                        burada olacağım.</p>
                        <div class="social-link">
                            <span><a href="https://facebook.com/themrtakdeniz"><i class="fa fa-facebook"></i></a></span>
                            <span><a href="https://twitter.com/mrtoakdeniz"><i class="fa fa-twitter"></i></a></span>
                            <span><a href="https://plus.google.com/+Mert%C3%96zg%C3%BCrAkdeniz/posts"><i class="fa fa-google-plus"></i></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="time-count">
                        <ul id="countdown">
                            <li class="angle-one">
                                <span class="days time-font">00</span>
                                <p>Gün</p>
                            </li>
                            <li class="angle-two">
                                <span class="hours time-font">00</span>
                                <p>Saat</p>
                            </li>
                            <li class="angle-three">
                                <span class="minutes time-font">00</span>
                                <p class="minute">Dakika</p>
                            </li>
                            <li class="angle-four">
                                <span class="seconds time-font">00</span>
                                <p>Saniye</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="coming-soon-footer" class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    {% now "Y" as current_year %}
                    <p>&copy; Mert Özgür Akdeniz {{ current_year }}. Her hakkı saklıdır.</p>
                    <p>Tasarım: <a target="_blank" href="http://www.themeum.com">Themeum</a></p>
                </div>
            </div>
        </div>
    </section>


    <script type="text/javascript" src="{% static "blog/js/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "blog/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "blog/js/coundown-timer.js" %}"></script>
    <script type="text/javascript" src="{% static "blog/js/wow.min.js" %}"></script>
    <script type="text/javascript" src="{% static "blog/js/main.js" %}"></script>
    <script type="text/javascript">
            //Countdown js
         $("#countdown").countdown({
                date: "20 december 2015 12:00:00",
                format: "on"
            },
            function() {
                // callback function
        });
    </script>

</body>
</html>