{% extends "blog/layout.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% load staticfiles %}
{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">{{ article.title }}</h1>
                            <p><a href="{% url "index" %}">mertakdeniz.com.tr</a> >
                                <a href="{% url "category" article.category.slug %}">{{ article.category.name }}</a> >
                                {{ article.title }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog-details">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                            <div class="single-blog blog-details two-column">
                                {% comment "Buraya soora resim gelcek!" %}
                                <div class="post-thumb">
                                    <a href="#"><img src="images/blog/7.jpg" class="img-responsive" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                                    </div>
                                </div>
                                {% endcomment %}
                                <div class="post-content overflow">
                                    {% comment "Desc Part" %}
                                    {% autoescape off %}
                                        <blockquote class="article-description">
                                            <p>{{ article.description }}</p>
                                        </blockquote>
                                    {% endautoescape %}
                                    {% endcomment %}

                                    {% autoescape off %}
                                        <p>{{ article.content }}</p>
                                    {% endautoescape %}
                                    <div class="post-bottom overflow">
                                        <ul class="nav navbar-nav post-nav">
                                            <li class="end_of_article">
                                                <span>
                                                    <i class="fa fa-tag"></i>
                                                    {% for tag in article.tags.all %}
                                                        <a href="{% url 'tag' tag.slug %}">{{ tag.name }}</a>
                                                    {% endfor %}
                                                </span>
                                            </li>
                                            <li class="end_of_article"><i class="fa fa-clock-o"></i> {{ article.created_at }}</li>
                                            <li><button class="btn btn-submit" id="article_comment">Yorum Yap</button></li>
                                        </ul>
                                    </div>
                                    <div class="response-area">

                                    <div class="article_comment" style="display:none;">
                                        <form class="form-row" action="{% url 'new_comment' article.slug %}" method="post">
                                            {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="name">Ad-Soyad</label>
                                                    <input type="text" name="name" class="form-control" id="name" required="required" placeholder="Adınız Soyadınız">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="email">E-Posta</label>
                                                    <input type="email" name="email" class="form-control" id="email" required="required" placeholder="E-Posta Adresiniz">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label for="message">Yorum</label>
                                                    <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Yorumunuz"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-9 col-md-3 col-sm-12 align-right">
                                                <div class="form-group">
                                                    <input name="submit" class="btn btn-submit" value="Gönder" type="submit">
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <h2 class="bold">Yorumlar</h2>
                                    <ul class="media-list">
                                        {% for comment in article_comments|dictsort:"created_at" %}
                                        <li class="media">
                                            <div class="post-comment">
                                                <div class="media-body">
                                                    <span><i class="fa fa-user"></i><a href="mailto:{{ comment.email }}">{{ comment.owner_name }}</a> dedi ki:</span>
                                                    <blockquote>
                                                        <p>{{ comment.text }}</p>
                                                    </blockquote>
                                                    <ul class="nav navbar-nav post-nav">
                                                        <li><i class="fa fa-clock-o"></i> {{ comment.created_at }}</li>
                                                        <li><a><div class="cevapla" id="comment_comment{{ comment.id }}"><i class="fa fa-reply"></i> Cevapla</div></a></li>
                                                    </ul>
                                                </div>
                                                <div class="comment_comment{{ comment.id }}" style="display:none;">
                                                    <form class="form-row" action="{% url 'new_reply' article.slug comment.id %}" method="post">
                                                        <div class="row">
                                                            {% csrf_token %}
                                                            <div class="col-md-6 col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="name">Ad-Soyad</label>
                                                                    <input type="text" name="name" class="form-control" id="name" required="required" placeholder="Adınız Soyadınız">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="email">E-Posta</label>
                                                                    <input type="email" name="email" class="form-control" id="email" required="required" placeholder="E-Posta Adresiniz">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="message">Yorum</label>
                                                                    <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Yorumunuz"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-offset-9 col-md-3 col-sm-12 align-right">
                                                                <div class="form-group">
                                                                    <input name="submit" class="btn btn-submit" value="Gönder" type="submit">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            {% for reply in comment.comment_set.all %}
                                            <div class="parrent">
                                                <ul class="media-list">
                                                    <li class="post-comment reply">
                                                        <div class="media-body">
                                                            <span><i class="fa fa-user"></i><a href="mailto:{{ reply.email }}">{{ reply.owner_name }}</a> cevap verdi: </span>
                                                            <blockquote>
                                                                <p>{{ reply.text }}</p>
                                                            </blockquote>
                                                            <ul class="nav navbar-nav post-nav">
                                                                <li><i class="fa fa-clock-o"></i>{{ reply.created_at }}</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            {% endfor %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div><!--/Response-area-->
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                {% include "blog/sidebar_right.html" %}
            </div>
        </div>
    </section>
{% endblock %}