{% extends "blog/layout.html" %}
{% load staticfiles %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            {% if not articles %}
                                <h2>Burada görüntülenecek bir şey yok!</h2>
                            {% endif %}
                        </div>
                        {% for article in articles  %}
                            <div class="col-sm-12 col-md-12">
                                <div class="single-blog single-column">
                                    {% comment "Buraya da resim gelecek! %}
                                    <div class="post-thumb">
                                        <a href="{{ article.title }}"><img src="{% static "blog/images/blog/7.jpg" %}" class="img-responsive" alt=""></a>
                                        <div class="post-overlay">
                                           <span class="uppercase"><a href="#">{{ article.created_at|date:'d' }} <br><small>{{ article.created_at|date:'M' }}</small></a></span>
                                       </div>
                                    </div>
                                    {% endcomment %}
                                    <div class="post-content overflow">
                                        <h2 class="post-title bold">
                                            <a href="{% url 'article' article.slug %}">{{ article.title|title }}</a>
                                        </h2>
                                        {% autoescape off %}
                                            <p>{{ article.description }}</p>
                                        {% endautoescape %}
                                        <a href="{% url 'article' article.slug %}" class="read-more">Devamını oku...</a>
                                        <div class="post-bottom overflow">
                                            <ul class="nav navbar-nav post-nav">
                                                <li>
                                                    <span>
                                                        <i class="fa fa-tag"></i>
                                                        {% spaceless %}{% for tag in article.tags.all %}<a href="{% url 'tag' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                                                        {% endfor %}{% endspaceless %}
                                                    </span>
                                                </li>
                                                <li><i class="fa fa-comments"></i> {{ article.get_active_comment_count }} Yorum</li>
                                                <li><i class="fa fa-comments"></i> {{ article.created_at }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% comment "pagination will be here!" %}
                    <div class="blog-pagination">
                        <ul class="pagination">
                            {% if articles.has_previous %}
                                <li><a href="{% url 'page' articles.previous_page_number %}">left</a></li>
                            {% endif %}

                            <li class="active">
                                <a href="#">{{ articles.number }}</a> of {{ articles.paginator.num_pages }}
                            </li>

                            {% if articles.has_next %}
                                <li><a href="{% url 'page' articles.next_page_number %}">right</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endcomment %}
                 </div>
                {% include "blog/sidebar_right.html" %}
            </div>
        </div>
    </section>
    <!--/#blog-->
{% endblock %}