<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ article.description|default:"Mert Özgür Akdeniz - Yazılımcı'nın Karalama Defteri"|striptags }}">
    {% spaceless %}
    {% if article.tags.all %}
        <meta name="keywords" content="{% spaceless %}{% for tag in article.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endspaceless %}">
    {% else %}
        <meta name="keywords" content="PHP, Laravel, Zend Certified Engineer">
    {% endif %}
    {% endspaceless %}
    <meta name="author" content="Mert Özgür Akdeniz">
    {% block meta %}{% endblock %} {% comment "meta data buraya gelecek" %} {% endcomment %}
    <title>{% block title %}{% endblock %} - {{ settings.site_name }}</title>
    {% load staticfiles %}
    <link href="{% static "blog/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "blog/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "blog/css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "blog/css/lightbox.css" %}" rel="stylesheet">
	<link href="{% static "blog/css/main.css" %}" rel="stylesheet">
	<link href="{% static "blog/css/responsive.css" %}" rel="stylesheet">
	<link href="{% static "blog/css/style.css" %}" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="{% static "blog/js/html5shiv.js" %}"></script>
	    <script src="{% static "blog/js/respond.min.js" %}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static "blog/images/ico/favicon.ico" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "blog/images/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "blog/images/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "blog/images/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "blog/images/ico/apple-touch-icon-57-precomposed.png" %}">
</head><!--/head-->

<body>
	<header id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href="https://facebook.com/themrtakdeniz"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/mrtoakdeniz"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/+Mert%C3%96zg%C3%BCrAkdeniz/posts"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/mrtakdeniz"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="mailto:mert@mertakdeniz.com.tr"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
                </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Navigasyon</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="{% url 'index' %}">
                    	<h1><img src="{% static "blog/images/logo2.png" %}" alt="logo"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="{% url 'index' %}">anasayfa</a></li>
                        <li class="dropdown"><a href="#">Kategoriler <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                {% spaceless %}{% for category in categories %}<li><a href="{% url "category" category.slug %}">{{ category.name }}</a></li>{% endfor %}{% endspaceless %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="search">
                    <form role="form" action="{% url "search" %}" method="post">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            {% csrf_token %}
                            <input type="text" class="search-form" autocomplete="off" placeholder="arama" name="keyword">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->
    <!--#content-->
    {% block content %}{% endblock %}
    <!--/#content-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="{% static "blog/images/home/under.png" %}" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>İletişim</h2>
                        <address>
                        E-posta: <a href="mailto:mert@mertakdeniz.com.tr">mert[at]mertakdeniz.com.tr</a> <br>
                        Facebook: <a href="https://facebook.com/themrtakdeniz">/themrtakdeniz</a> <br />
                        Twitter: <a href="https://twitter.com/mrtoakdeniz">@mrtoakdeniz</a>
                        </address>

                        <h2>Yasal Uyarı</h2>
                        <p>Bu web sayfasında yer alan içerikler tamamen şahsım tarafından oluşturulmuş
                        olup, çalıştığım firma ve/veya başka kişi/kurumlar ile alakası yoktur.</p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <h2>Son yorumlar</h2>
                        {% for comment in latest_comments %}
                            <div class="media">
                                <div class="media-body">
                                    <h6>
                                        <a href="{% url "article" comment.article.slug %}">
                                            {{ comment.article.title }}
                                        </a> için {{ comment.owner_name }} dedi ki :
                                    </h6>
                                    <blockquote>{{ comment.text|truncatewords_html:20 }}</blockquote>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <h2>Mert Özgür Akdeniz kimdir?</h2>
                        <p>1994 Ankara doğumlu yazılım geliştirici. Izmir Institute of Technology Physics BSc. öğrencisi.
                            Zend PHP Mühendisi. PHP, C/C++, Java, Python dillerine ve bu dillerin çatılarına meraklı,
                            kullandığı sistemlerin kurulumunu ve sunumunu kendi yapmaktan keyif alan, dahi bi' genç.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text">
                    <p>&copy; Mert Özgür Akdeniz {% now "Y" %}. Her hakkı saklıdır.
                        <a target="_blank" href="http://www.themeum.com">Themeum</a> tasarladı,
                        <a target="_blank" href="http://www.mertakdeniz.com.tr">mert akdeniz</a> kodladı.
                    </p>
                    <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href="https://facebook.com/themrtakdeniz"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/mrtoakdeniz"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/+Mert%C3%96zg%C3%BCrAkdeniz/posts"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/mrtakdeniz"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="mailto:mert@mertakdeniz.com.tr"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <p>
                        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">mertakdeniz.com.tr</span>
                        by <a xmlns:cc="http://creativecommons.org/ns#" href="http://mertakdeniz.com.tr" property="cc:attributionName" rel="cc:attributionURL">Mert Akdeniz</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
                    </p>
                </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script type="text/javascript" src="{% static "blog/js/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "blog/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "blog/js/lightbox.min.js" %}"></script>
    <script type="text/javascript" src="{% static "blog/js/wow.min.js" %}"></script>
    <script type="text/javascript" src="{% static "blog/js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "blog/js/comment.js" %}"></script>

</body>
</html>