<div class="col-md-3 col-sm-5">
    <div class="sidebar blog-sidebar">
        <div class="sidebar-item categories">
            <h3>Kategoriler</h3>
            <ul class="nav navbar-stacked">
                {% for category in categories %}
                    {% if category.id == article.category.id or current_category.id == category.id %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="{% url 'category' category.slug %}">{{ category.name }}
                            <span class="pull-right">({{ category.article_set.count }})</span>
                        </a>
                    </li>
                    {% for sub_category in category.category_set.all %}
                        {% if sub_category.id == article.category.id or current_category.id == sub_category.id %}
                        <li class="sub-category active">
                        {% else %}
                        <li class="sub-category">
                        {% endif %}
                            <a href="{% url 'category' sub_category.slug %}"><span>{{ sub_category.name }}</span>
                                <span class="pull-right">({{ sub_category.article_set.count }})</span>
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div class="sidebar-item tag-cloud">
            <h3>Etiket Bulutu</h3>
            <ul class="nav nav-pills">
                {% for tag in tags %}
                    <li><a href="{% url 'tag' tag.slug %}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>